/*general*/

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

body
{
background-color: darkslategrey;
color: bisque;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main, #mp_title
{
margin-left: 10%;
margin-right: 10%;
width: 80%;
}

button
{
    background: transparent;
    color: bisque;
    border: 2px solid;
    border-radius: 10px;
    font-size: 16px;
    margin-right: 10px;
}

button:hover
{
    box-shadow: 2px 2px 4px;
}

/*Navbars*/

nav
{
margin-bottom: 20px;
}

#nav_selected
{
    box-shadow: 2px 2px 8px;
}

/*Headers*/

h1
{
text-shadow: 2px 2px 5px rgb(160, 160, 133);
}

/*Main*/
#mp_body > div
{
    background-color: rgb(81, 121, 121);
    margin-bottom: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: solid;
}

#mp_body > div > div
{
border: 6px white;
}