header, section, footer, aside, nav, main, article, figure {
    display: block;
}

body
{
background-color: darkslategrey;
color: bisque;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Navbars*/

nav
{
background-color: rgb(51, 94, 94);
margin-left: 10%;
margin-right: 10%;
width: 80%;
padding: 1px;
border-radius: 25px;
z-index: -10;
}

#nav_selected
{
background-color: rgb(90, 138, 138);
padding: 5px;
border-radius: 20px;
}

nav > a
{
color: rgb(243, 188, 122);
text-shadow: 2px 2px 5px rgb(240, 221, 198);
text-decoration: none;
padding: 5px;
pointer-events: none;
}

/*Headers*/

h1
{
text-shadow: 2px 2px 5px rgb(160, 160, 133);    
}

#main_header
{
    margin-left: 10%;
}

/*Articles*/
article
{
    margin-left: 10%;
}