/*general*/

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

body
{
background-color: darkslategrey;
color: bisque;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main, #mp_title
{
margin-left: 10%;
margin-right: 10%;
width: 80%;
}

/*Navbars*/

nav
{
background-color: rgb(51, 94, 94);
padding: 1px;
border-radius: 25px;
z-index: -10;
}

/*Headers*/

h1
{
text-shadow: 2px 2px 5px rgb(160, 160, 133);
}

/*Main*/
#mp_body > div
{
    background-color: rgb(81, 121, 121);
    border: 2px white;
    margin-bottom: 20px;
}